<nav class="site-pagination" aria-label="News pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="site-pagination__control">Previous</a>
    {% else %}
    <span class="site-pagination__control is-disabled" aria-disabled="true">Previous</span>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="site-pagination__control">Next</a>
    {% else %}
    <span class="site-pagination__control is-disabled" aria-disabled="true">Next</span>
    {% endif %}
    <ol class="site-pagination__pages">
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li><span class="is-current" aria-current="page">{{ page }}</span></li>
        {% elsif page == 1 %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | split: '/' | pop | join: '/' }}">{{ page }}</a></li>
        {% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
    </ol>
</nav>
