<!DOCTYPE html>
{% if page.menubar or page.menubar_toc %}
{% assign has_left_sidebar = true %}
{% endif %}

{% if page.show_sidebar and has_left_sidebar  %}
{% assign content_width = 'is-4' %}
{% elsif page.show_sidebar or has_left_sidebar %}
{% assign content_width = 'is-8' %}
{% else %}
{% assign content_width = 'is-12' %}
{% endif %}

<html
 lang="{{ site.lang | default: 'en' }}"
 {% if site.fixed_navbar %}class="has-navbar-fixed-{{ site.fixed_navbar }}"{% endif %}>
  {% include head.html %}
  <body>
    {% include header.html %}
    {% assign redesign_interior = false %}
    {% if page.redesign_page or page.layout == 'service' or page.layout == 'blog' or page.layout == 'post' %}
      {% assign redesign_interior = true %}
    {% endif %}
    {% if redesign_interior %}
      {% include interior-hero.html %}
    {% elsif page.hide_hero != true %}
      {% include hero.html %}
    {% endif %}
    {% include callouts.html %}
    {% if page.homepage or redesign_interior %}
    <main id="main-content">
        {{ content }}
    </main>
    {% else %}
    <main id="main-content" class="standard-page-content">
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {% if page.menubar_toc %}
                <div class="column is-4-desktop is-4-tablet">
                    {% assign contentsTitle = page.toc_title | default: 'Contents' %}
                    {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
                </div>
                {% elsif page.menubar %}
                <div class="column is-4-desktop is-4-tablet">
                    {% include menubar.html %}
                </div>
                {% endif %}
                <div class="column {{ content_width }}">
                    {% include tabs.html %}
                    {% include showcase.html %}
                    {% include sponsors.html %}
                    {% include gallery.html %}
                    {{ content }}
                </div>
                {% if site.posts and page.show_sidebar %}
                <div class="column is-4-desktop is-4-tablet">
                    {% include latest-posts.html %}
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    </main>
    {% endif %}
    {% unless page.hide_footer %}
        {% include footer.html %}
    {% endunless %}
    {%- include footer-scripts.html -%}
  </body>
</html>
